<!-- students.html -->
{% extends 'base.html' %}

{% block content %}

<section class="">
<h1 class="title">Teachers</h1>

<div class="column is-5">
 <input type="text" class="input" placeholder="Search for names.."><br><br>
</div>
    <table class="table is-fullwidth">
        <tr>
            
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Department</th>
            <th>Status</th>
            
        </tr>
        <tr>
        {% for t in teachers %}
            <td><a href="{% url 'teacher_detail' t.uid %}"> {{ t.first_name }} {{ t.last_name }}</a></td>
            <td>{{ t.email }}</td>
            <td>{{ t.phone_numbers }}</td>
            <td>{{ t.department }}</td>
            <td>{{ t.current_status }}</td>
           
        </tr>
    </table>

    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
        <strong>{{ page }}</strong>
    {% else %}
        <a href="?page={{ page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}

  {% endfor %}

</section>
{% endblock %}
