<!-- students.html -->
{% extends 'base.html' %}

{% block content %}

<section class="">
<h1 class="title">Students</h1>

<nav class="level mr-4">
    <div class="column is-5 level-left">
        <input type="text" class=" input level-item" placeholder="Search for names ...">
    </div>
    <div class="level-right">
       <a href="{% url 'student_create' %}" class="button is-primary level-item">Create new student</a>            
</nav>
    <table class="table is-fullwidth">
        <tr>
            <th>First Name</t}h>
            <th>Grade</th>
            <th>Classroom</th>
            <th>Admission Date</th>
            <th>Student Number</th>
            <th>Status</th>
        </tr>
        {% for s in students %}
        <tr>
            <td><a href="{% url 'student_detail' s.uid %}"> {{s.first_name }} {{ s.last_name }}</a></td>
            <td>{{ s.grade }}</td>
            <td>{{ s.classroom }}</td>
            <td>{{ s.admission_date }}</td>
            <td>{{ s.registration_number }}</td>
            <td>{{ s.current_status }}</td>
        </tr>
        
        {% endfor %}
    </table>

    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
        <strong>{{ page }}</strong>
    {% else %}
        <a href="?page={{ page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}

  

</section>
{% endblock %}
