{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Student Form</h1>
    <form method="post">
        {% csrf_token %}
        <div class="column box is-6 is-centered">
        <div class="is-small field">
          <div class="label">First Name</div>
          {{ form.first_name }}
        </div>
        <div class="is-small field">
          <div class="label">Status</div>
          {{ form.current_status }}
        </div>
        <div class=" field">
          <div class="label">Registration Number</div>
          {{ form.registration_number}}
        </div>
        <div class=" field">
          <div class="label">Admission Created</div>
          {{ form.admission_date }}
        </div>
      
        <div class=" field">
          <div class="label">Photo</div>
          {{ form.photo }}
        </div>
        <div class=" field">
          <div class="label">School</div>
          {{ form.school }}
        </div>
        <div class=" field">
          <div class="label">Grade</div>
          {{ form.grade }}
        </div>
      
        <div class=" field">
            <div class="label">Classroom</div>
            {{ form.classroom }}
          </div>

          <div class=" field">
            <div class="label">D.O.B</div>
            {{ form.date_of_birth }}
          </div>

    
        </div>
        <input type="submit" value="Submit" class="button is-primary">
    </div>
    </form>
{% endblock %}

["first_name", "last_name", "current_status", "registration_number", 
                    "admission_date", "photo", "school", "grade", "classroom", "date_of_birth",]