{% extends 'base.html' %}


{% block content %}
<div class="columns is-centered">
    <div class="column is-6 mt-6">
        <h1 class="title">Welcome to Django School</h1>
        <p class="subtitle">This is a simple school management system built with Django</p><br><br>
        <h2 class="title">Login</h2>
        <form class="is-flex">
            <input type="text" class="input" placeholder="Enter Your Username">
            <input type="password" class="input" placeholder="Enter your Password">
            <button class="button is-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}